<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CYBER REPORT</title>
    <link rel="stylesheet" href="../assets/CSS/Pages/login.css">
</head>

<body>
    <!-- <h1>CYBER REPORT</h1> -->
    <main>
        <div class="geral">
        <section class="lado-esq">
            <div class="cyber-report">
                <img src="../assets/img/Gemini_Generated_Image_rh5rtirh5rtirh5r-removebg-preview 1.png" alt="" class="logo-report">
            </div>
            <div class="hackers">
                <img src="../assets/img/img.png" class="sombra-esq">
                <img src="../assets/img/img.png" class="sombra-dir">
            </div>
            <div class="principal">
                <img src="../assets/img/img.png" alt="">
            </div>
        </section>
        <section class="lado-dir">
            <div class="login-topo">
                <img src="../assets/img/Logo Direito.png" alt="" class="logo-baikal">
            </div>    
            <div class="login-box">
                <h2>LOGIN</h2>
                <form action="../../Model/login.php" method="POST">
                    <label>E-mail</label>
                    <input type="email" placeholder="email@gmail.com">
                    <label>Senha</label>
                    <input type="password" placeholder="senha">
                    <a href="">Esqueceu a senha?</a>
                    <button type="submit">Entrar</button>
                </form>
                
                <script>
                    const params = new URLSearchParams(window.location.search);
                    const erro = params.get('erro');

                    if (erro === 'invalido') {
                        document.querySelector('.login-box').insertAdjacentHTML('beforeend', <p class="erro-login">E-mail ou senha inválidos. Por favor, tente novamente.</p>);
                    } else if (erro === 'campos') {
                        document.querySelector('.login-box').insertAdjacentHTML('beforeend', <p class="erro-login">Preencha todos os campos.</p>);
                    }
                </script>

            </div>
        </section>
        </div>
    </main>
</body>

</html>
