<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../assets/CSS/Componentes/menuNIvel.css" />
        <title>Document</title>
    </head>

    <body>
        <div action="" id="form-stepper">
            <div class="container-stepper">
                <div class="stepper">
                    <div class="espaco-stepper">
                        <div class="stepper-numero" id="numero-1">
                            <span> 1 </span>
                        </div>
                        <span id="descricao-1"> Descrição </span>
                    </div>
                    <div class="stepper-separador" id="separador-1"></div>
                </div>
                <div class="stepper">
                    <div class="espaco-stepper">
                        <div class="stepper-numero" id="numero-2">
                            <span> 2 </span>
                        </div>
                        <span id="descricao-2"> Descrição </span>
                    </div>
                    <div class="stepper-separador" id="separador-2"></div>
                </div>
                <div class="stepper">
                    <div class="espaco-stepper">
                        <div class="stepper-numero" id="numero-3">
                            <span> 3 </span>
                        </div>
                        <span id="descricao-3"> Descrição </span>
                    </div>
                    <div class="stepper-separador" id="separador-3"></div>
                </div>
                <div class="stepper">
                    <div class="espaco-stepper">
                        <div class="stepper-numero" id="numero-4">
                            <span> 4 </span>
                        </div>
                        <span id="descricao-4"> Descrição </span>
                    </div>
                    <!-- <div class="stepper-separador" id="separador-1"></div> -->
                </div>
            </div>
            
            <button  id="btn-voltar">Voltar</button>
            <button  id="btn-avancar">Avançar</button>
        </div>

        <script src="../assets/JS/componentes/menuNIvel.js"></script>
    </body>
</html>
