.group-btn-projeto{
    display: flex;
    gap: 25px;
    justify-content: end;
}
.btn-projeto{
    width: 200px;
}
.main-gerenciamento-projeto{
    overflow-y: hidden;
}
.group-card-tabela{
    padding: 10px;
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.group-card-projeto{
    display: flex;
    gap: 20px;
}
.container-card-projetos{
    background-color: var(--cor-fundo-branco);
    border-radius: var(--raio-xl);
    width: 20vw;
    height: 125px;
    justify-content: space-evenly;
    display: flex;
    text-align: start;
    flex-direction: column;
    padding: 5px 20px 5px 20px;
}
.title-card-projeto{
    font-size: var(--fonte-texto);
    color: var(--cor-texto-primario);
}
.subtitle-card-projeto{
    color: var(--cor-texto-secundario);
    font-size: var(--fonte-texto);
}
.tabela-gerenciamento-projeto{
    display: flex;
    justify-content: center;
}