.group-btn-projeto{
    display: flex;
    gap: 25px;
    margin: 10px 0px 10px 1450px;
}
.main-gerenciamento-projeto{
    display: flex;
}
.btn-projeto{
    width: 200px;
}
.corpo-ger-projetos{
    display: block;
    overflow: hidden;
}
.group-card-projeto{
    display: flex;
    gap: 20px;
    z-index: 3;
    margin: 80px 0px 50px 200px;
}
.container-card-projetos{
    background-color: var(--cor-fundo-branco);
    border-radius: var(--raio-xl);
    width: 20vw;
    height: 125px;
    justify-content: space-evenly;
    display: flex;
    text-align: start;
    flex-direction: column;
    padding: 5px 20px 5px 20px;
}
.title-card-projeto{
    font-size: var(--fonte-texto);
    color: var(--cor-texto-primario);
}
.subtitle-card-projeto{
    color: var(--cor-texto-secundario);
    font-size: var(--fonte-texto);
}
.tabela-projeto{
    margin: 150px 0px 0px 250px;
}