.btn-novo-cadastro.btn-cadastro-usuario {
margin-left: 1400px;
}
.table-wrapper {
    overflow-x: auto;
    width: 100%;
    margin-top: 20px;
}
.tabela-container {
    width: 100%;
    overflow-x: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 50px;
}