
.corpo_card{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e5e5e5;
  width: 100vw;
  height: 100vh;
}
.area-modal{
  width: 900px;
  height: 700px;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}
.cabecalho{
  background-color: #003F6B;
  display: flex;
  gap: 15px;
  color: white;
}
.icone-cabecalho{
  width: 50px;
  margin-left: 15px;
  margin-right: 10px;
}

.elemento-cabecalho {
  display: flex;
  margin-right: 390px;
}

.texto-cabecalho{
  display: flex;
}
.fechar{
  margin-top: 10px;
}
.textos-cabecalho{
  display: flex;
  justify-content: center;
  margin-right: 50px;
  flex-direction: column;
}
.itens_mid{
  display: flex;
  justify-content: center; 
}
.foto_do_user{
  display:flex ; 
  justify-content:center ; 
  background-color: #e2e2e2; 
  border-radius:100%;
  width: 138px;
  height: 137px;
}
#icon_ft{
  align-items: center;
  width: 45px;
}
.campos{
  margin: 60px;
}
.imputA{
  width: 742px;
  border-radius: 10px 10px 10px 10px;
  height: 25px;
}
.imputB{
  width: 300px;
  border-radius: 10px 10px 10px 10px;
  height: 25px;
}
.imputC{
  width: 320px;
  border-radius: 10px 10px 10px 10px;
  height: 25px;
  margin-left: 35%;
}
.posicionamento{
  display: flex;
}
.imputD{
  width: 300px;
  border-radius: 10px 10px 10px 10px;
  height: 25px;
}
#cargo{
  width: 322px;
  border-radius: 10px 10px 10px 10px;
  height: 29px;
  margin-left: 36%;
}
#especialidade{
  width: 306px;
  border-radius: 10px 10px 10px 10px;
  height: 29px;
}
.botoes{
  display: flex;
  justify-content: end;
}
#botaoA{
  width: 80px;
  height: 33px;
  border-radius: 10px 10px 10px 10px;
  margin-right: 30px;
}
#botaoB{
  background-color: green;
  width: 80px;
  height: 33px;
  border-radius: 10px 10px 10px 10px;
  margin-right: 30px;
}
