<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="menuNIvel.css" />
        <script src="menuNIvel.js" defer></script>
        <title>Document</title>
    </head>

    <body>
        <form action="" class="form-stepper">
            <div class="container-stepper">
                <div class="stepper">
                    <div class="espaco-stepper">
                        <div class="stepper-numero" id="numero-1">
                            <span> 1 </span>
                        </div>
                        <span id="descricao-1"> Descrição </span>
                    </div>
                    <div class="stepper-separador" id="separador-1"></div>
                </div>
                <div class="stepper">
                    <div class="espaco-stepper">
                        <div class="stepper-numero" id="numero-2">
                            <span> 2 </span>
                        </div>
                        <span id="descricao-2"> Descrição </span>
                    </div>
                    <div class="stepper-separador" id="separador-2"></div>
                </div>
                <div class="stepper">
                    <div class="espaco-stepper">
                        <div class="stepper-numero" id="numero-3">
                            <span> 3 </span>
                        </div>
                        <span id="descricao-3"> Descrição </span>
                    </div>
                    <!-- <div class="stepper-separador" id="separador-1"></div> -->
                </div>
            </div>
            
            <button  id="btn-voltar">Voltar</button>
            <button  id="btn-avancar">Avançar</button>
        </form>
    </body>
</html>
