.group-btn-projeto{
    display: flex;
    justify-content: flex-end;
    margin-bottom: var(--espaco-md);
}
.main-gerenciamento-projeto{
    overflow-y: hidden;
}
.group-card-tabela{
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.group-card-projeto{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.container-card-projetos{
    flex: 1;
    min-width: 280px;
    background-color: var(--cor-fundo-branco);
    border-radius: var(--raio-xl);
    height: 125px;
    justify-content: space-evenly;
    display: flex;
    text-align: start;
    flex-direction: column;
    padding: 5px 20px 5px 20px;
}
.title-card-projeto{
    font-size: var(--fonte-texto);
    color: var(--cor-texto-primario);
}
.subtitle-card-projeto{
    color: var(--cor-texto-secundario);
    font-size: var(--fonte-texto);
}